{% extends 'base/main.html' %}

{% block content %}
    <div class="container">
        <h2>Edit structure</h2>
        <br>
        {% if directory_structure %}
            {% with first_item=directory_structure.0 %}
                {% if first_item.level > 0 %}
                    <a href="{% url 'idata_list' path=parent_root %}" class="back-link">Back</a><br>
                {% endif %}
                <span>{{ first_item.pathRoot }}</span>
            {% endwith %}
        {% endif %}

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in directory_structure %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td class="description-cell">
                                {% if not data.description %}
                                    Empty
                                {% else %}
                                    {{ data.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if data.isDirectory %}
                                    <a href="{% url 'idata_list' path=data.path %}">Open</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'idata_form' data.id %}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'process' %}" class="process-link">Process</a>
    </div>
{% endblock content %}
