{% extends 'base/main.html' %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editing datas in {{ idata.name }}</title>
    </head>
    <body>
        <h2 style="display: inline-block;">Editing datas in {{ idata.name }}</h2>
        <a href="{% url 'idata_list' path=idata.pathRoot %}" style="display: inline-block; margin-left: 10px;">Back</a>
        <br>
        <span>{{ idata.pathRoot }}</span>
        <br>
        <br>
        <span>Folder: {{ idata.isDirectory }}</span>
        <br>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_ul }}
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
{% endblock content %}
