{% extends 'base/main.html' %}

{% block content %}
    <h1>Create a new JSON</h1>

    {% if directory_structure %}
        <p>Information created, click here to edit:</p>

        {% with directory_structure|first as first_item %}
            {% if first_item.level == 0 and first_item.isDirectory %}
                <form method="get" action="{% url 'idata_list' path=first_item.pathRoot %}">
                    {% csrf_token %}
                    <button type="submit">Ver</button>
                </form>
            {% endif %}
        {% endwith %}

    {% else %}
        <form method="post" action="{% url 'new_json' %}">
            {% csrf_token %}
            <input type="text" name="selected_directory" id="selected_directory" placeholder="Select a directory...">
            <button type="submit">Enviar</button>
        </form>
    {% endif %}

{% endblock content %}
